.DS_Store
Output/Source/duktape/*
Output/Headers/*
!Output/Headers/README.md
Output/Libraries/iOS/*
Output/Libraries/linux/*
Output/Libraries/linuxARM/*
Output/Libraries/macOS/*
Output/Libraries/win64/*
!Output/Libraries/*/README.md
source/iOS/*
source/linux/*
source/linuxARM/*
source/macOS/*
source/win64/*
!source/*/README.md
source/*.tar.gz
source/*.tar.xz
source/*.zip
.nova
